wc-toc {
  font-size: 14px;
}

wc-toc ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

wc-toc li li {
  padding-left: 1rem;
}

wc-toc a {
  @apply font-normal;
}

wc-toc a:not(.active):not(:hover) {
  @apply text-gray-600;
}

wc-toc li a:not(.active) + ul:not(.has-active) {
  display: none;
}