<form name="contact" action="/thank-you" netlify-honeypot="bot-field" netlify>
  <p class="h4">Contact Us</p>
  <label class="hidden">For the bots: <input name="bot-field" /></label>
  <p><label class="font-semibold text-sm">Name <input type="text" name="name" class="border-2 ml-1 px-2 py-1" /></label></p>
  <p><label class="font-semibold text-sm">Email <input type="email" name="email" class="border-2 ml-1 px-2 py-1" /></label></p>
  <button type="submit" class="btn btn-primary text-sm">Send</button>
</form>