/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

/**
  * 1. Dynamic REM size
  * 
  * This calc() algorithm provides a more accurate calculation of font-sizes
  * between breakpoints. Useful for article or marketing based projects that
  * utilize screen real-estate for varying font-sizes, as opposed to something
  * like a dashboard that's most likely 16px on all breakpoints.
  *
  * calculate
  * 100 viewport width minus minimum width
  * divided by (maximum width minus minimum width)
  * multiplied by (maximum font-size minus minimum font-size)
  * plus minimum font-size
  */

html {
  @apply text-gray-800 font-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: clamp(1em, ((100vw - 18.75em) / 300) * 2 + 1em, 1.125em);
  /* letter-spacing: 0.01875em; */
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

@screen sm {
  html {
    font-size: clamp(1.125em, ((100vw - 37.5em) / 640) * 3 + 1.125em, 1.3125em);
  }
}

::selection { @apply bg-yellow-200; }

/* All header fonts */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @apply font-normal;
  margin-bottom: .75rem;
  margin-top: 1em;

  font-family: 'Crimson Text', serif;
  font-weight: 600;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  @apply text-primary-600;
  font-variant: small-caps;
}

h1, .h1 { @apply text-4xl; }
h2, .h2 { @apply text-3xl; }
h3, .h3 { @apply text-2xl border-yellow-400 border-b-2; }
h4, .h4 { @apply text-xl; }
h5, .h5 { @apply text-lg uppercase; }
h6, .h6 { @apply text-base; }

p { @apply my-2; }
p:first-child { @apply mt-0; }
p:last-child { @apply mb-0; }

p:not(:first-child) img { @apply mt-8; }
p:not(:last-child) img { @apply mb-8; }

p > b,
p > strong,
p > a {
  line-height: 1;
}

blockquote {
  @apply bg-yellow-100 bg-opacity-50 relative p-4;
  margin: 2rem auto;
  border-width: 8px;
  border-image-source: url("data:image/svg+xml;utf8,<svg height='24' width='24' fill='rgb(118, 8, 11)' xmlns='http://www.w3.org/2000/svg'><circle cx='4' cy='4' r='4'></circle><circle cx='20' cy='4' r='4'></circle><circle cx='4' cy='20' r='4'></circle><circle cx='20' cy='20' r='4'></circle></svg>");
  border-image-slice: 8;
  border-image-outset: 3px;
}

blockquote:before,
blockquote:after {
  @apply border-primary-700 block absolute;
  content: '';
  top: -8px;
  bottom: -8px;
  border-left-width: 2px;
}

blockquote:before { left: -8px; }
blockquote:after { right: -8px; }

hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border-top-width: 1px;
  border-color: transparent;
  background-color: #e7e7e7;
}